---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Analysis on Gaussian Spaces seminar"
    img="/AnalGauss.svg"
    desc="In this seminar we study the infinite-dimensional generalization of the Malliavin derivative, and its link to stochastic analysis (in italian)."
    url="https://drive.google.com/file/d/14i2yctu1kZDdWOtmhbynCft3XEACtyKn/view?usp=sharing"
    <!--badge="NEW"-->
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bachelor Thesis"
    
    desc="My thesis, 'A Non-Commutative Extension of the Sewing Lemma and its Applications for Quantum Mechanics', supervised by Prof. Dario Trevisan, gives a generalization of the Sewing Lemma for non-commutative systems and studies its use in quantum evolution."
    url="https://drive.google.com/file/d/1qlOKCqaVecncnn3TfFgdKbPsV0rAwVRO/view"
  />

</BaseLayout>
