---
import BaseLayout from "../layouts/BaseLayout.astro";
import memesData from "../content/memes/memes.json";

const memes = [...memesData].sort(() => Math.random() - 0.5);
// Logic to split the array into 3 columns for a true masonry look
const col1 = memes.filter((_, idx) => idx % 3 === 0);
const col2 = memes.filter((_, idx) => idx % 3 === 1);
const col3 = memes.filter((_, idx) => idx % 3 === 2);
---

<BaseLayout title="The Void">
  <div>
    <div><h1 class="text-4xl font-bold mb-5 text-primary">THE VOID</h1></div>
  </div>

  <div class="mb-10">
    <p class="text-lg">
        Nothing to see here.
    </p>
  </div>


  <div class="flex flex-col md:flex-row gap-4 w-full items-start">
    {[col1, col2, col3].map((column) => (
      <div class="flex flex-col gap-4 flex-1">
        {column.map((meme) => (
          <a href={meme.src} target="_blank" class="block rounded-lg hover:ring-4 hover:ring-primary transition-all duration-200">
            <img src={meme.src} alt={meme.alt} class="w-full h-auto rounded-lg block shadow-sm" />
          </a>
        ))}
      </div>
    ))}
  </div>
</BaseLayout>