---
const today = new Date();
---

<footer class="footer footer-center block text-xs py-5 opacity-75">

  <div class="pb-2">
    &copy; {today.getFullYear()} Samuele Biscaro
  </div>
  <div class="inline text-xs opacity-50">

    Developed using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astro.build/themes/details/astrofy-personal-porfolio-website-template/" target="_blank">Astrofy Template</a>
  </div>
</footer>
<style></style>
