---
const today = new Date();
---

<footer class="footer footer-center block text-xs py-5 opacity-75 group relative">
  
  <div class="pb-2">
    &copy; {today.getFullYear()} Samuele Biscaro
  </div>

  <div class="inline text-xs opacity-50">
    Developed using
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="hover:text-primary">Astrofy Template</a>
  </div>

  <a 
    href="/void" 
    class="absolute right-4 md:right-10 top-1/2 -translate-y-1/2 text-3xl opacity-0 group-hover:opacity-20 hover:!opacity-100 hover:text-primary transition-all duration-700 cursor-pointer p-2 hover:scale-110"
    title="Nothing to see here"
  >
    &empty;
  </a>

</footer>
